/***************************************
****************************************
CSS Edited Sat 26 Nov
AUTHOR: abdulkadir Mohammed
---------------------------------------

lICENCE: MIT
COPYRIGHT: 
****************************************
***************************************/
* {
  box-sizing: border-box;
}
/*Body: No margins and paddings, and font family*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/*No margins for all headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*No margins for all paragraph texts*/
p {
  margin: 0;
}
/*NAV: Make background Onyx, give it a 100% height and width */
.nav{background: #31343C; height: 100px; width: 100%;}
             /* Name: float the name tag to the left and give it a margin and padding*/
            .name{float:left; margin:20px; padding: 10px; background: #97C5CA;}
                /* ul.menu-list: hide he overflow, give it a background color onyx, and float it to the right*/
            ul.menu-list{ overflow: hidden; background-color: #31343C; float: right;}
             /* ul.menu-list li: No list style, no float, left 5px and top 10px */
             ul.menu-list li{list-style: none; float: right; margin: 5px 10px;}
             /* li a: No text decoration, background color Onyx, and color  Opal*/
             ul.menu-list li a{ text-decoration: none; background: #31343C; color: #97C5CA;}
             /* li a: make hover color white*/
              ul.menu-list li a:hover{color:#ffffff;}
             /* a class with bottom border to show the underline effect*/
             ul.menu-list a{text-decoration: none; font-size: 20px; font-famil:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding: 14px 16px; display: block; border-bottom: 3px solid;}
            /*when shrunk below 600px, arange the menu vertical*/
            @media screen and (max-width: 600px;) {.name  ul.menu-list li, .name  ul.menu-list li {float:none}
}
/*make header 100%*/
.header {
    width: 100%;
  
}
/*Give hero banner a background-color of Opal, widthe of 100%, height of 300px.*/
.hero-banner {
    background-color: #97C5CA;
    width: 100%;
    height: 300px 
}
/*Hero-img: Add a background image, dont repeat it, center the image, give it a background color of opal and a transparency of 0.3*/
.hero-img {
    background-image: url(../images/bio-img.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(151,197,202, 0.3);
    opacity: 0.9;
    width: 100%;
    height: 300px;
    /*place it in a position relative to its location*/
    position: relative;
}
/*banner-tittle: give it a margin of 20px, padding of 10px, and make the background color Opal */
.banner-tittle {
    margin:20px; 
    padding: 10px; 
    background-color: #97C5CA;
     /*position it relative to the parent's positioning rule & move it to the right and to the bottom*/
    position:absolute;
    bottom:0;
    right:0;
    
}
/*******************
MAIN CONTAINER SECTION
*******************/
/*divide: These .divider classes are designed to use for spacing*/
.divider {
    margin: 100px;
    padding: 100px;
}
.divider-large{
    padding: 200px;
    margin: 200px;
}

/*page-sectio: give it a padding of 20px, and margin of 10px*/
.page-section {
    padding: 20px;
    margin: 10px;
}
/*primary-section: give it a border on the left of 5px, make it solid and give it a color called "independence, float it to the right, give it a widthe of 800px, and a padding on the left of 12px */
.primary-section {
    border-left: 5px solid #475874;
    float:right;
    width: 800px;
    padding-left: 12px;
}
/*tittle: give it a font size of 3rem, widthe of 200px, float it to the left, align the text to the end, and add a color independence*/
.tittle {
    font-size: 3rem;
    width: 200px;
    float:left;
    text-align: end;
    color: #475874;
}
/*paragraph text: padding 10px*/
p{
    padding:10px;
}
/*link: remove any test decoratiton, and inherit the parent color*/
a{
    text-decoration: none;
    color: inherit; 
}
/*item2: use the background image 02-portfolio-4.jpg, dont repeate the photo,make the background image fill the div, give it a border of 5px, make it solid and a color of powder blue, make the height 300px*/
.item2 {
    background-image: url(../images/02-portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
    border: 5px solid #9DCBCD;
    height: 300px;
    /*Align to the bottom*/
    display: flex;
    align-items: flex-end;
}
/**/
.item {
    background-image: url(../images/02-portfolio-1.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    border: 5px solid #9DCBCD;
    margin: 5px;
    width: 379px;
    height: 120px;
    display: inline-flex;
    align-items: flex-end;
}
.item-img {
    background-image: url(../images/02-portfolio-2.jpg);
    background-repeat: no-repeat;
     background-size: 500px;
}
.item1 {
    background-image: url(../images/02-portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    display: inline-block;
    border: 5px solid #9DCBCD;
    margin: 5px;
     width: 379px;
    height: 120px;
    display: inline-flex;
    align-items: flex-end;
    
}
.item1-img {
    background-image: url(../images/02-run-buddy.jpg);
    background-repeat: no-repeat;
     background-size: 500px;
}

.project-tittle {
    width: 160px;
    height: 70px;
    font-size: 20px;
    bottom:0;
    padding: 10px;
    margin-bottom: 10px;
    background: #97C5CA;
}
.project-caption {
    font-size: 12px;
    padding: -12px;
}

/*******************
FOOTER
*******************/
.footer {
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    list-style-type: none;
}
.flex-container li a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    /* Show a line under the text*/
     padding: 1px 20px; display: block; border-bottom: 3px solid;
}

